@(title: String)

<html>
    <head>
        <title>@title</title>
        <style>
        body {
        background-color : black ;
        color : yellow ;
        font-family : sans-serif ;
        }
        pre {
        font-family : Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace ;
        margin : 0 ;
        }
        .input {
        color : yellow ;
        }
        .ok {
        color : lightblue ;
        }
        .fail {
        color : orange ;
        }
        .out {
        color : lightgreen ;
        }
        .err {
        color : orangered ;
        }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script>
            var socket;
            var enteredLineNum = 0;
            var LARGE_INTEGER = 2e9;
            var consoleEntries = [];
            var consoleInputs = [];
            function createMessageId() {
                return { time: Date.now(), rand: Math.round(2*LARGE_INTEGER*Math.random() - LARGE_INTEGER) };
            }
            function createPingMessage() {
                var id = createMessageId();
                return { id: id, kind: "ping" };
            }
            function createEchoMessage(pingMessage) {
                var id = createMessageId();
                return { id: id, kind: "echo", inResponseToId: pingMessage.id, inResponseToKind: pingMessage.kind };
            }
            function createInputMessage(line, num) {
                var id = createMessageId();
                return { id: id, kind: "input", input: line, num: num};
            }
            function sendPing() {
                socket.send(JSON.stringify(createPingMessage()));
            }
            function processMessage(msg) {
                if(msg.kind == "ping") {
                    console.log("I have received a ping message.\n Time stamp: " + new Date(msg.id.time));
                    socket.send(JSON.stringify(createEchoMessage(msg)))
                } else if(msg.kind == "echo") {
                    console.log("I have received an echo message.\n Time stamp: " + new Date(msg.id.time));
                } else if(msg.kind == "output") {
                    console.log("I have received a shell output message.\n Time stamp: " +
                        new Date(msg.id.time));
                    consoleEntries.push(msg.output);
                    showConsoleEntries();
                } else {
                    console.log("I have received a message I did not understand:\n" + JSON.stringify(msg, null, 2))
                }
            }
            function openSocket() {
                socket = new WebSocket("ws://localhost:9000/socket");
                socket.onopen = function() { sendPing() } ;
                socket.onmessage = function(event) { processMessage(JSON.parse(event.data)); };
            }
            function addConsoleInput(line) {
                var entry = { kind: "input", text: line };
                consoleEntries.push(entry);
                return consoleInputs.push(entry) - 1;
            }
            function showConsoleEntries() {
                var entryNodes = d3.select("#rugLoomConsole").selectAll(".consoleEntry").data(consoleEntries);
                entryNodes.enter().append("pre").attr("class", function(d) { return "consoleEntry " + d.kind; })
                .text(function(d) { return d.text; })
            }
            function onCommandKeyPress(event) {
                var keyCode = event.keyCode || event.which;
                if(keyCode == 13) {
                    var commandInput = d3.select("#commandInput");
                    var lineEntered = commandInput.property("value");
                    console.log("Line entered: " + lineEntered);
                    var enteredLineNum = addConsoleInput(lineEntered);
                    showConsoleEntries();
                    var message = createInputMessage(lineEntered, enteredLineNum);
                    socket.send(JSON.stringify(message));
                    commandInput.property("value", "");
                }
            }
        </script>
    </head>
    <body onload="openSocket()">
        <h1>@title</h1>
        <p>Hello, this is @title! Enter an expression.</p>
        <div id="rugLoomConsole"></div>
        <input id="commandInput" type="text" size="100" onkeypress="onCommandKeyPress(event);"/>
    </body>
</html>